In [1]:
import numpy as np

import pandas as pd

In [2]:
data=pd.read_csv("train.csv")

In [3]:
data1=data.copy(deep=True)

In [4]:
data1.head()

,id,target,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_497,feature_498,feature_499,feature_500,feature_501,feature_502,feature_503,feature_504,feature_505,feature_506
0,0,0,C0,C0,C1,C5,C11,37.56,54.756667,54.756667,...,0,0,0,0,0,0,0,0,0,0
1,1,0,C0,C0,C3,C5,C1,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2,0,C0,C0,C3,C5,C2,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,3,0,C0,C0,C1,C5,C1,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,4,1,C0,C0,C3,C3,C11,37.48,37.480000,37.161333,...,0,0,0,0,0,0,0,0,0,0

In [5]:
data1.dtypes

id              int64
target          int64
feature_0      object
feature_1      object
feature_2      object
                ...
feature_502     int64
feature_503     int64
feature_504     int64
feature_505     int64
feature_506     int64
Length: 509, dtype: object

In [6]:
data1["feature_3"].dtype

dtype('O')

In [7]:
for i in data1.columns:
    if type(data1[i].dtype) is np.int32:   
        data1[i]=data1[i].astype("int64")

In [8]:
data1.dtypes

id              int64
target          int64
feature_0      object
feature_1      object
feature_2      object
                ...
feature_502     int64
feature_503     int64
feature_504     int64
feature_505     int64
feature_506     int64
Length: 509, dtype: object

In [10]:
from sklearn.preprocessing import LabelEncoder
for i in data1.columns:
    if data1[i].dtype=='object':
        data1[i]=LabelEncoder().fit_transform(data1[i])

In [11]:
data.dtypes

id              int64
target          int64
feature_0      object
feature_1      object
feature_2      object
                ...
feature_502     int64
feature_503     int64
feature_504     int64
feature_505     int64
feature_506     int64
Length: 509, dtype: object

In [16]:
X=data1.drop(['target','feature_82','feature_199','feature_200','feature_201'],axis=1)

In [13]:
y=data1['target']

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [18]:


X_train,X_valid,y_train,y_valid = train_test_split(X, y, test_size=0.33,random_state=18)

In [20]:


from catboost import CatBoostClassifier


CATBOOST = CatBoostClassifier(subsample=0.50,learning_rate=0.03,max_depth=6,min_data_in_leaf=50,colsample_bylevel=0.5,random_state=42,num_boost_round=2500,l2_leaf_reg=1.0,eval_metric='AUC')

In [21]:
from sklearn.metrics import roc_auc_score
def get_val_score(model):
    val_pred = model.predict_proba(X_valid)
    return roc_auc_score(y_valid,val_pred[:,1])

In [22]:

CATBOOST.fit(X_train,y_train,
         eval_set=[(X_valid, y_valid)],
         early_stopping_rounds=200,verbose=100)

print("="*20)
print(" Validation AUC : ", get_val_score(CATBOOST))

0:	test: 0.7247283	best: 0.7247283 (0)	total: 249ms	remaining: 10m 21s
100:	test: 0.7727256	best: 0.7727256 (100)	total: 4.64s	remaining: 1m 50s
200:	test: 0.7780631	best: 0.7780631 (200)	total: 8.6s	remaining: 1m 38s
300:	test: 0.7802355	best: 0.7802355 (300)	total: 12.7s	remaining: 1m 32s
400:	test: 0.7815840	best: 0.7815840 (400)	total: 16.6s	remaining: 1m 26s
500:	test: 0.7821700	best: 0.7821876 (498)	total: 21.1s	remaining: 1m 24s
600:	test: 0.7826607	best: 0.7826852 (598)	total: 25.7s	remaining: 1m 21s
700:	test: 0.7828746	best: 0.7830312 (650)	total: 31s	remaining: 1m 19s
800:	test: 0.7829015	best: 0.7830312 (650)	total: 35.9s	remaining: 1m 16s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.7830311559
bestIteration = 650

Shrink model to first 651 iterations.
====================
 Validation AUC :  0.7830311559374137

In [ ]:
data2=pd.read_csv("test.csv")

In [ ]:
data2.dtypes

id              int64
feature_0      object
feature_1      object
feature_2      object
feature_3      object
                ...
feature_502     int64
feature_503     int64
feature_504     int64
feature_505     int64
feature_506     int64
Length: 508, dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder
for i in data2.columns:
    if data2[i].dtype=='object':
        data2[i]=LabelEncoder().fit_transform(data2[i])

In [ ]:
for i in data2.columns:
    if type(data2[i].dtype) is np.int32:   
        data2[i]=data2[i].astype("int64")

In [ ]:
toDrop=['feature_82','feature_192','feature_199','feature_200','feature_201']

In [ ]:
CATBOOST_pred=CATBOOST.predict_proba(data2.drop(toDrop,axis=1))

In [ ]:
test_pred=pd.DataFrame(CATBOOST_pred[:,1])

In [ ]:
test_pred

              0
0      0.363197
1      0.282095
2      0.311430
3      0.119354
4      0.218037
...         ...
29995  0.664203
29996  0.281250
29997  0.149023
29998  0.555616
29999  0.072739

[30000 rows x 1 columns]

In [ ]:
#sample submission
submission=pd.read_csv("sample_submission.csv")

In [ ]:
submission['target']=test_pred
submission.to_csv("submission2.csv",index=False)
submission.head(10)

   id    target
0   5  0.363197
1   7  0.282095
2   9  0.311430
3  11  0.119354
4  14  0.218037
5  15  0.241095
6  19  0.183638
7  21  0.115363
8  25  0.298517
9  29  0.139371

#Thankyou